/*Color div*/
/*Color typo*/
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* ==================================================
    include  
    ================================================== */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "open_sansregular";
  color: #333;
  background-image: url(../img/symphony.png); }

nav {
  height: 1850px;
  width: 10%;
  background-color: #FF5023;
  display: inline-block; }
  nav section {
    margin-top: 50px;
    margin-left: 60px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  nav i {
    color: ghostwhite;
    margin-top: 20px;
    cursor: pointer; }
    nav i:hover {
      color: #333; }

input {
  width: 32%;
  margin-left: 15px;
  border: 1px solid #BB3B19;
  padding: 10px 10px 10px 15px;
  text-transform: lowercase;
  background-color: transparent; }

button {
  width: 32%;
  border: none;
  color: ghostwhite;
  padding: 10px 10px 10px 15px;
  text-transform: uppercase;
  background-color: #BB3B19;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px; }
  button:hover {
    background-color: #FF5023; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal input {
    display: block;
    margin: 10px auto;
    margin-bottom: 15px;
    text-transform: lowercase; }
  .modal h4 {
    width: 50%;
    color: #FF5023;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px; }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; }

/* The Close Button */
.close {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #FF5023;
  text-decoration: none;
  cursor: pointer; }

.section-index button {
  color: ghostwhite;
  background-color: #FF5023;
  border: none;
  height: 40px;
  width: 150px;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer; }
  .section-index button:hover {
    background-color: #333; }

.bouton {
  width: 345px;
  margin: -25px auto; }

.fa-minus-square {
  margin-top: 10px; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 0.8em;
  width: 150px;
  background-color: #333;
  color: ghostwhite;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.separator {
  display: block;
  margin: 0 auto;
  width: 50%;
  border-top: 3px solid #FF5023; }

.section-index {
  display: inline-block;
  margin: 75px auto;
  width: 89.7%;
  height: 900px;
  vertical-align: top; }
  .section-index h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
    text-transform: uppercase; }
  .section-index h3 {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: "open_sanslight";
    width: 65%;
    text-transform: lowercase; }
  .section-index h4 {
    text-transform: uppercase;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 1em;
    color: #BB3B19; }
  .section-index img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto; }
  .section-index ul {
    height: 600px;
    width: 80%;
    margin: 50px auto;
    margin-bottom: 75px;
    overflow-y: scroll; }
    .section-index ul li {
      display: inline-block;
      color: #333;
      width: 30%;
      margin: 1.5%;
      padding: 25px;
      list-style: none;
      background-color: rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid #FF5023;
      vertical-align: top; }
      .section-index ul li:hover {
        transform: rotate(1deg);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
      .section-index ul li small {
        color: #333;
        padding-top: 3px;
        padding-bottom: 3px;
        font-weight: bolder;
        font-size: 0.9em;
        text-transform: lowercase; }
      .section-index ul li div {
        margin-top: 15px;
        margin-bottom: 5px; }
      .section-index ul li i {
        color: #FF5023;
        margin-bottom: 10px;
        cursor: pointer; }
        .section-index ul li i:hover {
          color: #333; }

li > p {
  color: #BB3B19;
  padding-top: 10px;
  padding-bottom: 10px; }

.tax {
  display: inline-block;
  background-color: yellowgreen;
  width: 100px;
  margin-right: 20px; }

.no-tax {
  display: inline-block;
  width: 100px;
  background-color: #BB3B19; }

.tax p,
.no-tax p {
  display: inline-block;
  padding: 20px 5px 20px 20px;
  text-align: center;
  color: ghostwhite;
  font-weight: bolder; }

.tax i,
.no-tax i {
  color: ghostwhite !important;
  cursor: default !important; }

.section-user {
  display: inline-block;
  margin: 75px auto;
  width: 89.7%;
  height: 900px;
  vertical-align: top; }
  .section-user h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
    text-transform: uppercase; }
  .section-user h3 {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: "open_sanslight";
    width: 65%;
    text-transform: lowercase; }
  .section-user img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto; }
  .section-user ul {
    height: 600px;
    width: 80%;
    margin: 50px auto;
    margin-bottom: 75px;
    overflow-y: scroll; }
    .section-user ul li {
      display: inline-block;
      color: #333;
      width: 30%;
      margin: 1.5%;
      padding: 25px;
      padding-top: 10px;
      list-style: none;
      background-color: rgba(255, 255, 255, 0.5);
      vertical-align: top;
      /*text-align: center;*/ }
      .section-user ul li:hover {
        transform: rotate(1deg);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
      .section-user ul li h4 {
        text-transform: uppercase;
        padding-right: 5px;
        margin-top: 3px;
        font-size: 1em;
        color: ghostwhite; }
      .section-user ul li small {
        color: ghostwhite;
        padding-top: 3px;
        padding-bottom: 3px;
        font-weight: bolder;
        font-size: 0.9em;
        text-transform: lowercase; }
      .section-user ul li div {
        margin-top: 15px;
        margin-bottom: 5px; }
      .section-user ul li i {
        color: ghostwhite;
        margin-bottom: 10px;
        cursor: pointer; }
        .section-user ul li i:hover {
          color: #333; }

/* Smartphone */
@media (max-width: 450px) {
  nav {
    position: inherit;
    height: 70px;
    width: 100%;
    background-color: #FF5023;
    display: inline-block; }

  nav i {
    color: ghostwhite;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 25%; }
    nav i:hover {
      color: #333; } }

/*# sourceMappingURL=app.css.map */
