.section-index {
    button {
        color: $color-white;
        background-color: $color-orange-light;
        border: none;
        height: 40px;
        width: 150px;
        margin: 10px;
        text-transform: uppercase;
        cursor: pointer;
        
        &:hover {
            background-color: $color-general;
        }
    }
}

.bouton {
    width: 345px;
    margin: -25px auto;
}