<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>No Liability</title>
    <link rel="icon" href="img/money.svg">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>


    <link rel="stylesheet" href="fonts/font-awesome.css">
</head>

<body ng-app="myApp">

    <nav>
        <section>
            <div class="tooltip">
                <a href="accueil.html">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    <span class="tooltiptext">Accueil</span>
                </a>
            </div>
            <div class="tooltip">
                <a href="user.html">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <span class="tooltiptext">Gérer les utilisateurs</span>
                </a>
            </div>
            <div class="tooltip">
                <a href="dette.html">
                    <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
                    <span class="tooltiptext">Ajouter un gage</span>
                </a>
            </div>
            <div class="tooltip">
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                <span class="tooltiptext">Déconnexion</span>
            </div>
        </section>
    </nav>

    <section class="section-user">
        <img src="img/piggy-bank.svg" alt="">
        <div class="separator"></div>
        <h1>Welcome {{name}}</h1>
        <h3>Bienvenue sur votre interface de comptabilité "No Liability". Les bons comptes font les bons amis. Vous pourrez dans cette interface gérer vos créances.</h3>
        <ul ng-controller="usersCtrl">
            <input type="text" placeholder="Rechercher un débiteur" ng-model="debiteur">
            <button type="submit" id="myBtn">Ajouter un débiteur</button>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content" ng-controller="userFormController">
                    <span class="close">×</span>
                    <h4>Ajouter un débiteur</h4>
                    <input type="text" placeholder="Nom" ng-model="user.username">
                    <input type="text" placeholder="Groupe" ng-model="user.usergroup">
                    <label for="select">Colors</label>
                     <select name="usercolor" class="col-md-8 col-md-offset-2" ng-model="user.usercolor">
                                    <option value='#0D3C76'>Bleu</option>
                                    <option value='#FF780C'>Orange</option>
                                    <option value='#860D2E'>Violet</option>
                                    <option value='#30B420'>Vert</option>
                                    <option value='#AD1621'>Rouge</option>
                                </select>
                    <button type="submit" ng-click="addUser(user)">Ajouter</button>
                </div>

            </div>

            <li id="{{}}" ng-repeat="users in usersData |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{users.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{users.username}}</h4>
                <small>{{users.usergroup}}</small>
            </li>
        </ul>


        <!--  <ul>
            <input type="text" placeholder="Rechercher un groupe" ng-model="groupe">
            <button type="submit">Ajouter un groupe</button>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
            <li id="{{user.username}}" ng-repeat="resum in resums | filter:groupe">
                <li id="{{user.username}}" ng-repeat="user in users |  filter:debiteur" ng-style="CustomStyle" style='background-color:{{user.usercolor}}'>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
                <h4>{{user.usergroup}}</h4>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
                <small>{{user.username}}</small>
            </li>
        </ul>-->
    </section>
</body>

<script src="js/script.js"></script>

</html>